.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;

    .arrow {
      background-image: url("/assets/svg/arrow.svg");
      background-size: 30px 50px;
      background-position: center;
      background-repeat: no-repeat;
      height: 50px;
      width: 30px;
      content: ' ';
    }
    .inverse-arrow {
      transform: rotate(180deg);
    }
  }

  .left-arrow {

  }
}

.image-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.show-small {
  display: flex;
}

.error {
  color: red;
}

@media only screen and (min-width : 480px) {
  .show-medium {
    display: flex;
  }
  .hide-medium {
    display: none;
  }
}

@media only screen and (max-width : 479px) {
  .show-medium {
    display: none;
  }
}
