<div [formGroup]="form" class="container">
  <input type="text" placeholder="Api key Pixabay" formControlName="apiKey">
  <input type="text" placeholder="Keyword" formControlName="keyword">
  <button (click)="onSearch()">Search</button>
</div>
<div *ngIf="(selectedImages$ | async)?.length > 0; else showError">
  <div class="container">
    <div class="inner-controls show-small hide-medium">
      <div class="arrow inverse-arrow" (click)="previous()"></div>
      <div class="arrow" (click)="next()"></div>
    </div>
    <div *ngFor="let img of selectedImages$ | async" class="image-container">
      <img *ngIf="img" [src]="img" [alt]="img" height="200px">
    </div>
  </div>
  <div class="container show-medium">
    <button (click)="previous()">Previous</button>
    <button (click)="next()">Next</button>
  </div>
</div>

<ng-template #showError>
  <div class="container">
    <span class="error">{{error}}</span>
  </div>
</ng-template>
